# Ignore node_modules for the React frontend
frontend/node_modules
frontend/build

# Ignore Python cache and virtual environment files for the Flask backend
backend/__pycache__/
backend/env/
backend/venv/
backend/assistants

# Ignore any .env files (for security)
*.env

# Ignore any logs or system files
*.log
.DS_Store
