:root {
  --font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-transition-time: 0.3s;
  --color-nav-bg: #f7f3f3;
  --color-nav-link: #999999;
  --color-nav-link-bg-rollover: #cb3232;
  --color-nav-link-rollover: #ffffff;

  --color-light-blue: rgb(0, 191, 255);
  --color-rbs-logo-blue: #00a7da;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-tooltipper .tooltip-inner {
  background-color: var(--color-rbs-logo-blue);
  color: #fff;
  /* text-decoration: none !important; */
  border-radius: 4px;
}

.custom-tooltipper .tooltip-arrow::before {
  border-bottom-color: var(--color-rbs-logo-blue) !important;
  border-top-color: var(--color-rbs-logo-blue) !important;
}

.custom-tooltipper .tooltip-arrow {
  color: #ccc;
}