.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
}

.chat-input {
    padding: 10px;
}

.ta-chat-input {
    background-color: #f4f4f4 !important;
}
